<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>L'Anotte - Amministrazione</title>


    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/sb-admin-2.min.css}" />
    <link rel="stylesheet" th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/fontawesome-free/css/all.min.css}" />
    <script th:src="@{/functions/utilities.js}"></script>

    <!-- Added scripts for all pages-->
    <script type="text/javascript" src="functions/utilities.js"></script>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="adminDashboard">
            <div class="sidebar-brand-text mx-3">L'Anotte</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="adminDashboard">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline mt-4">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="Amministratore" > </span>
                            <img class="img-profile rounded-circle"
                                 th:src="@{/img/undraw_profile.svg}">
                        </a>
                        <!-- Dropdown - Business Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <form th:action="@{'/logout'}">
                                <button class="dropdown-item" data-toggle="modal" data-target="#logoutModal" type="submit">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </button>
                            </form>

                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Elenco attività</h1>

                <div th:if="${businesses.isEmpty()}">
                    Non ci sono ancora attività registrate su L'Anotte
                </div>

                <div th:if="${!businesses.isEmpty()}">
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Attività presenti su L'Anotte</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable">
                                    <thead>
                                    <tr>
                                        <th>Immagine</th>
                                        <th>Nome</th>
                                        <th>Partita IVA</th>
                                        <th>Descrizione</th>
                                        <th>Città</th>
                                        <th>CAP</th>
                                        <th>Via</th>
                                        <th>Valutazione media</th>
                                        <th>Numero valutazioni</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>Immagine</th>
                                        <th>Nome</th>
                                        <th>Partita IVA</th>
                                        <th>Descrizione</th>
                                        <th>Città</th>
                                        <th>CAP</th>
                                        <th>Via</th>
                                        <th>Valutazione media</th>
                                        <th>Numero valutazioni</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>

                                    <th:block th:each="b : ${businesses}">
                                        <tr>
                                            <td>
                                                <div th:if="${b.getImageBase64() != null } ">
                                                    <a href="#" class="pop">
                                                        <img th:src="@{'data:image/jpeg;base64,'+${b.getImageBase64()}}" height=100px />
                                                    </a>
                                                </div>
                                            </td>
                                            <td th:text="${b.getBusinessName()}"></td>
                                            <td th:text="${b.getVATNumber()}"></td>
                                            <td th:text="${b.getDescription()}"></td>
                                            <td th:text="${b.getCity()}"></td>
                                            <td th:text="${b.getCAP()}"></td>
                                            <td th:text="${b.getLocation()}"></td>
                                            <td th:text="${b.getRating()}"></td>
                                            <td th:text="${b.getNumberRatings()}"></td>
                                        </tr>
                                    </th:block>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>L'Anotte 2022</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<script type="text/javascript" th:src="@{/vendor/jquery/jquery.min.js}" ></script>
<script type="text/javascript" th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/vendor/jquery-easing/jquery.easing.min.js}" ></script>
<script type="text/javascript" th:src="@{/js/sb-admin-2.min.js}" ></script>


</body>

</html>