<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>L'Anotte - Profilo attività</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Added scripts for all pages-->
    <script src="functions/utilities.js"></script>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index">
                <div class="sidebar-brand-text mx-3">L'Anotte</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Menu -->
            <li class="nav-item">
                <a class="nav-link" href="menu">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Gestisci menù</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Storico ordini -->
            <li class="nav-item">
                <a class="nav-link" href="orders">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Storico ordini</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${business.getBusinessName()}" > </span>
                                <div th:if="${business.getImageBase64() != '' } " >
                                    <div>
                                        <img class="img-profile rounded-circle" th:src="@{'data:image/jpeg;base64,'+${business.getImageBase64()}}"/>
                                    </div>
                                </div>
                            </a>
                            <!-- Dropdown - Business Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="businessProfile">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profilo attività
                                </a>
                                <div class="dropdown-divider"></div>
                                <form th:action="@{'/businessLogout'}">
                                    <button class="dropdown-item" data-toggle="modal" data-target="#logoutModal" type="submit">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Logout
                                    </button>
                                </form>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Profilo attività</h1>
                    </div>

                    <form class="user" enctype="multipart/form-data" th:action="@{'/applyChangesBusiness'}" method="post"
                          th:object="${business}" onsubmit="return validateBusinessModification()">

                        <div th:if="${business.getImageBase64() != '' } " >
                            <div class="col-sm-6">
                                <img th:src="@{'data:image/jpeg;base64,'+${business.getImageBase64()}}" height=150px />
                            </div>

                            <div class="mb-3 mt-3 col-sm-6">
                                <label for="file" class="form-label">Seleziona una nuova immagine</label>
                                <input class="form-control" type="file" name="file" id="file">
                            </div>
                        </div>

                        <div th:unless="${business.getImageBase64() != '' } ">
                            <div class="mb-3">
                                <label for="file" class="form-label">Non hai ancora aggiunto un'immagine per la tua attività. Selezionane una.</label>
                                <input class="form-control" type="file" name="file" id="new_file">
                            </div>
                        </div>

                             <input type="hidden" id="businessId" th:field="*{id}">
                             <input type="hidden" id="businessImage" th:field="*{image}">



                             <div class="form-group">
                                 <label for="businessName">Nome attività</label>
                                 <input type="text" class="form-control"
                                        id="businessName" placeholder="Nome attività" required th:field="*{businessName}" th:value="${business.getBusinessName()}">
                             </div>


                         <div class="alert-danger text-center rounded form-group" th:if="${business_name_error}">
                            Esiste già un'azienda con questo nome.
                        </div>

                        <div class="form-group">
                            <label for="vat_number">Partita IVA</label>
                            <input type="text" class="form-control" id="vat_number"
                                   placeholder="Partita IVA" required th:field="*{VATNumber}" th:value="${business.getVATNumber()}">
                            <small class="form-text text-muted">Non la condivideremo con nessuno.</small>
                        </div>

                        <div class="form-group row">
                            <div class="form-group col-sm-4" >
                                <input type="text" class="form-control" id="city"
                                       placeholder="Città" required th:field="*{city}" th:value="${business.getCity()}">
                            </div>

                            <div class="form-group col-sm-4">
                                <input type="text" class="form-control" id="CAP"
                                       placeholder="CAP" required th:field="*{CAP}" th:value="${business.getCAP()}">
                            </div>

                            <div class="form-group col-sm-4">
                                <input type="text" class="form-control" id="address"
                                       placeholder="Indirizzo" required th:field="*{location}" th:value="${business.getLocation()}">
                            </div>
                        </div>

<!--                        <div class="form-group">-->
<!--                            <input type="text" class="form-control"-->
<!--                                   placeholder="Password" required th:field="*{password}" th:value="${business.getPassword()}">-->
<!--                        </div>-->
                        <p>Inserisci gli orari di apertura/chiusura del tuo locale che saranno visibili agli utenti. Gli orari dei giorni di chiusura puoi lasciarli bianchi!</p>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>Giorno</td>
                                        <td>Orario apertura</td>
                                        <td>Orario chiusura</td>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        Lun
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" name="lun"
                                                th:value="${business.getOpeningHour('0')}">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" name="lun"
                                                th:value="${business.getClosingHour('0')}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Mar
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" name="mar"
                                                th:value="${business.getOpeningHour('1')}">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" name="mar"
                                                th:value="${business.getClosingHour('1')}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Mer
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" name="mer"
                                                th:value="${business.getOpeningHour('2')}">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" name="mer"
                                                th:value="${business.getClosingHour('2')}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Gio
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" name="gio"
                                                th:value="${business.getOpeningHour('3')}">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" name="gio"
                                                th:value="${business.getClosingHour('3')}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Ven
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" name="ven"
                                                th:value="${business.getOpeningHour('4')}">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" name="ven"
                                                th:value="${business.getClosingHour('4')}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Sab
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" name="sab"
                                                th:value="${business.getOpeningHour('5')}">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" name="sab"
                                                th:value="${business.getClosingHour('5')}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Dom
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" name="dom"
                                                th:value="${business.getOpeningHour('6')}">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" name="dom"
                                                th:value="${business.getClosingHour('6')}">
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>

                        <button class="btn btn-primary btn-user btn-block" type="submit">
                            Salva e modifica dati attività
                        </button>
                    </form>


                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>L'Anotte 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>

    <script>
    function forceLower(strInput) {
        strInput.value = strInput.value.toLowerCase();
    }
    </script>

</body>

</html>