<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>L'Anotte - Registrazione</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"  type="text/css" >
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Added scripts for all pages-->
    <script src="functions/utilities.js"></script>

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Registra la tua azienda</h1>
                            </div>
                            <form class="user" th:action="@{'/businessRegistration'}" method="post" onsubmit="return validateNewBusiness()"
                                  th:object="${business}">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user" id="business_name" name="business_name"
                                               th:field="*{businessName}" placeholder="Nome attività" required>
                                    </div>

                                <div class="alert-danger text-center rounded form-group" th:if="${business_name_error}">
                                    Esiste già un'attività con questo nome.
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="vat_number"
                                           placeholder="Partita IVA" th:field="*{VATNumber}" required>
                                    <small class="form-text text-muted">Non la condivideremo con nessuno.</small>
                                </div>

                                <div class="alert-danger text-center rounded form-group" th:if="${VAT_error}">
                                    Esiste già un'attività con questa partita IVA. Inserirne una corretta.
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user"
                                               id="city" th:field="*{city}" placeholder="Città" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user"
                                               id="CAP" th:field="*{CAP}" placeholder="CAP" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="Address"
                                        placeholder="Indirizzo attività" th:field="*{location}" required>
                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user" id="pass1"
                                           placeholder="Password" th:field="*{password}" required>
                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user" id="pass2"
                                           placeholder="Ripeti password" required>
                                </div>

                                <button class="btn btn-primary btn-user btn-block" type="submit">
                                    Procedi con la registrazione
                                </button>

                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="businessLogin">Hai già un account per la tua azienda? Effettua il login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>


</body>

</html>